<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>

<div class="container">


    <h2>Show Customer</h2>
    <a href="/create" class="btn btn-success">Create</a>
    <br>
    <br>
    <form action="/find" method="get">
        <input type="text" class="form-control" placeholder="search" name="name" id="findName" oninput="search()">
        <button type="submit" class="btn btn-success">Find</button>
    </form>

    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
            <th>BirthDay</th>
            <th>Img</th>
            <th>Email</th>
            <th>Phome</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="s,loop :${page}">

            <td th:text="${loop.count}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.address}"></td>
            <td th:text="${s.birthDay}"></td>
            <td><img th:src="${s.avatar}" width="150" height="150"></td>
            <td th:text="${s.email}"></td>
            <td th:text="${s.phone}"></td>

            <td><a th:href="@{/edit/{id}(id = ${s.id})}" class="btn btn-warning">edit</a></td>
            <td><a th:href="@{/delete/{id}(id = ${s.id})}" class="btn btn-warning">delete</a></td>

        </tr>

        <span><a th:if="${page.hasPrevious()}" th:href="@{/home (page = ${page.number - 1})}"><<<<</a></span>
        <span th:text="${page.number + 1}"></span>/<span th:text="${page.totalPages}"></span>
        <span><a th:if="${page.hasNext()}" th:href="@{/home (page = ${page.number + 1})}">>>>></a></span>

        </tbody>
    </table>
    <br>

</div>


</body>
</html>
<script>

    function search() {
        let name = document.getElementById("findName").value;
        let url = "http://localhost:8081/api/student/" + name;

        $.ajax({
            headers: {
                'Accept': 'application/json'
            },
            type: "GET",
            url: url,
            //xử lý khi thành công
            success: function (data) {
                document.getElementById("tbody").innerHTML = showData(data.content);
            },
            error: function (err) {
                alert(err)
            }
        })
    }

    function showData(arrStudent) {
        let str = "";
        for (let i = 0; i < arrStudent.length; i++) {
            str += `<tr>
            <td>${i + 1}</td>
            <td>${arrStudent[i].name}</td>
            <td>${arrStudent[i].address}</td>
            <td>${arrStudent[i].birthDay}</td>
            <td><img src="${arrStudent[i].avatar}" width="150" height="150"></td>
            <td>${arrStudent[i].phone}</td>
            <td>${arrStudent[i].email}</td>
            <td><a class="btn btn-warning">edit</a></td>
            <td><a class="btn btn-warning">delete</a></td>
        </tr>`
        }
        return str;
    }

</script>

